.container {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #405065;
}

.search-modul {
  width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

tr {
  cursor: pointer;
}
