<!-- Picture of tired student -->
<div class="container">
  <img src="assets/img/tired-student-2-cut2.jpg" class="img-fluid" alt="Responsive image" width="100%" class="center">
</div>

<!-- Header 1 -->
<h1>Soll ich dahin gehen?</h1>

<!-- Paragraph 1 -->
<p>
  Diese Frage hast du dir nach einer langen Nacht bestimmt auch schon einmal gestellt.
  Die Antwort darauf wird viel zu oft von deiner verschlafenen und subjektiven Meinung getrübt.
</p>

<!-- Header 2 -->
<h1>Damit ist jetzt Schluss.</h1>

<!-- Paragraph 2 -->
<p>
  Denn unser Rechner nimmt dir diese Entscheidung ab.
  Wir verwenden Machine Learning und lassen unsere Server knobeln damit du es nicht musst.
  Somit kannst du dich auf die wichtigen Entscheidungen des Studentenalltags konzentrieren, wie zum Beispiel:
  Soll ich heute die Abgabe für morgen anfangen oder nicht?
</p>

<!-- Button to login page -->
<div class="text-center">
  <button mat-button style="background-color: #3949ab;margin-top: 15px; font-size: 22px;" class="btn btn-primary" routerLink="/profil">Finde jetzt heraus ob du dahin gehen sollst</button>
</div>
